@media (min-width: 320px) and (max-width: 480px){
    #box {
        padding-left: 0px;
        margin-top: 17px;
        margin-left: -25px;
    }
    h2 {
        margin-top: 10px;
        text-align: center;
        text-decoration: underline;
        font-size: 15px;
        color: rgb(230, 15, 51);
    }
    h1 {
        margin-top: 0px;
        margin-top: 20px;
        text-align: center;
        text-decoration: underline;
        font-size: 25px;
        color: rgb(0, 4, 255);
    }
    .tic-tac-toe{
        height: 100px;
        width: 100px;
        font-size: 55px ;
        border-width: thick;
        font-family: cursive;
        font-weight: bolder;
        border-color: #7d7d7d;
        cursor: pointer;
        color: rgb(34, 31, 31);
    }
    #edit {
        margin-left: 60px;
        margin-right: 20px;
    }
    .bTN {
        text-align: center;
        height: 30px;
        width: 150px;
        font-size: 10px;
        margin-left: 1%;
        font-size: large;
        border-radius: 15px;
        background-color: #106128;
        color: white;
        border-width: 2px;
        border-color: rgb(118, 124, 124);
        margin-top: 10px;
        cursor: pointer;
    }
    .bTN {
        text-align: center;
        height: 30px;
        width: 200px;
        margin-left: 25%;
        font-size: large;
        border-radius: 15px;
        background-color: #106128;
        color: white;
        border-width: 2px;
        border-color: rgb(118, 124, 124);
        margin-top: 10px;
        cursor: pointer;
    }
    .btnn {
        margin-left: 0%;
        margin-top: 10px;
        /* margin: auto; */
    }
    #result {
        text-align: center;
        font-size: 20px;
        margin-top: 25px;
        color: rgb(214, 12, 23);
    }
}
