body{
    background-image: url(./image/8aCQkW.webp);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    width: 80%;
    margin: auto;
}
h1{
    margin-top: 0px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-size: 55px;
    color: rgb(0, 4, 255);
}
h2{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    font-family: cursive;
    font-size: 55px;
    color: rgb(230, 15, 51);
}
#result{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    font-weight: bolder ;
    margin-top: -30px;
    color: rgb(214, 12, 23);
}
#box{
    padding-left: 600px;
    margin-top: -17px;
}
.tic-tac-toe{
    height: 100px;
    width: 100px;
    border-width: thick;
    border-color: #7d7d7d;
    cursor: pointer;
    font-size: xxx-large;
    color: rgb(34, 31, 31);
}
#edit{
    margin-left: 445px;
    margin-right: 20px;
}
.button{
    text-align: center;
    height: 50px;
    width: 152px;
    font-size: large;
    border-radius: 15px;
    background-color: #e6e207;
    color: rgb(231, 6, 6);
    border-width: 2px;
    border-color: rgb(118, 124, 124);
    margin-top: 10px;
    cursor: pointer;
}
.bTN{
    text-align: center;
    height: 50px;
    width: 152px;
    margin-left: 1%;
    font-size: large;
    border-radius: 15px;
    background-color: #106128;
    color: white;
    border-width: 2px;
    border-color: rgb(118, 124, 124);
    margin-top: 10px;
    cursor: pointer;
}
.btnn{
    margin-left: 9%;
    margin-top: 20px;
    /* margin: auto; */
}

